@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background: white;
    padding: 1em;


    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
    }
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}

.hero {
    text-align: center;
}

.left-col{
    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        color: #A939FE;
        letter-spacing: .2em;
    }
    h1{
        font-size: 2.1em;
        line-height: 1.3em;
        margin-top: .2em;
    }
    .primary-cta{
        background: #A939FE;
        color: white;
        text-decoration: none;
        font-size: 1.4em;
        padding: .6em 1.3em;
        font-weight: bold;
        border-radius: 5em;
        display: inline-block;
    }
    .watch-video-cta{
        display: block;
        margin-top: 1em;
    }
    .video-cta{
        margin-right: .5em;
        width: 7%;
    }
}

.hero-img{
    width: 70%;
    margin-top: 3em;   
}

section.features-section{
    background:#281E41;
    color: white;
}

ul.features-list{
    margin: 0;
    padding-left: .1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

    li {
        font-size: 1.1em;
        margin-bottom: 2em;
        margin-left: 2em;
        position: relative;

        &:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url(../images/bullet.svg);
            background-size: contain;
            margin-right: .5em;

        }
    }
}

.features-section img {
    display: none;
}

.teachers-review-section{
    background: #A939FE;
    color:white;

    ul {

        li{
            background:#8E30D5;
            text-align: center;
            padding: 2em 1em;
            width: 80%;
            margin: 0 auto 5em auto;
            border-radius: 1em;
            img {
                width: 5em;
                height: 5em;
                margin-top: -4.5em;
            
            }

            cite{
                font-weight: bolder;
            }
        }
    }
}

nav.menu-btn{
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #281E41;
    height: 100vh;
    padding: 1em;

    ul.primary-nav{
        margin-top: 5em;
    }

    li {

        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: bolder;
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
        }
        li.go-sign-in-cta a {
            color: #A939FE;
            border: 3px solid #A939FE;
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;

            &:hover {
                background: #A939FE;
                color: white;
            }
        }
    }
}

@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;

        .left-col {
            margin: 3em 3em 0 5em;

            h1 {
                font-size: 3em;
                width: 90%;
            }
        }
    }

    .hero-img {
        width: 30%;
        margin-right: 8em;
    }

    .hero-cta {
        display: flex;
    }
    .primary-cta {
        margin-right: 1em;
    }

    ul.features-list {
        display: block;
        margin-left: 5em;

        li {
            font-size: 1.4em;

            &:before {
                width: 30px;
                height: 30px;
            }
        }
    }

    .features-section {
        position: relative;
    }

    .features-section img {
        display: block;
        position: absolute;
        right: 0;
        width: 350px;
        bottom: -2em;
    }

    .teachers-review-section ul {
        display: flex;
        
        li {
            margin: 0 1em;
        }
    }
}

@media only screen and (min-width: 1450px) {
    .features-section {

        &:before {
            content: '';
            position: absolute;
            width: 10%;
            height: 20em;
            background: #A939FE;
            left: 0;
            top: -4em;
        }

        &:after {
            content: '';
            position: absolute;
            width: 200px;
            height: 20em;
            background: url('../images/dots.svg') no-repeat;
            left: 4.5em;
            top: 2em;
        }
    }
}